# nvim
###################
nvim/.config/nvim/plugged/*
nvim/.config/nvim/.init.vim-rplugin~
nvim/.config/nvim/autoload/plug.vim.old
nvim/.config/nvim/autoload/plug.vim
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/spell/
